@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100vh;
  background-color: #96969641;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header h1 {
  padding-top: 50px;
  /* text-transform: uppercase; */
  font-variant: small-caps;
}

header p {
  padding-bottom: 50px;
}

header a, footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline overline ;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.background-white {
    background-color: white;
    color: black;
}

section.background-image {
    background-color: rgb(255, 11, 11);
    color: black;
}

section.background-image p {
    background-color: rgba(0, 0, 0, 0.212);
    width: 400px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}