@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #7f6ec0, #8367e6);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 3px #150b5956 ;
}

h1 {
    color: #431AD9;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(67, 26, 217, 0.315) ;
}

h2 {
    color: #2f1f6b
}

p {
    text-align: justify;
}